html { 
  scroll-behavior: smooth;
}
body{
    padding:0px 0px 0px 0px;
    z-index:0;
    font-family: 'Palatino';
    color: #242323f3;
    text-align: justify;
}
header{
  background-image: url(back.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar-dark {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.alt-color{
    background-color: #f0eef2;
}
.center{
    margin:auto;
}
.row-content{
    margin: 0px auto;
    padding: 100px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
