.navbar-light {
    background-color: #f4f1ea;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    
}
.text-dark{
    color:white;
}


body{
    padding:50px 0px 0px 0px;
    z-index:0;
    font-family: 'Palatino';
    /* background-color: #f4f1ea; */
    color: #242323f3;
    text-align: justify;
    /* margin:auto; */
}
.alt-color{
    background-color: #f4f1ea;
}
.center{
    margin:auto;
}

.row-content{
    margin: 0px auto;
    padding: 100px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    
}
.cover{
    background-size: cover;
}
